/* body {
    background-image: url('../pictures/11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
}
#logAdmin{
    font-family: 'Doppio One';
    font-size: 50px;
    color:black ;
}
 #boxLog{
   padding-bottom: 90px;
    padding-left: 900px;
}  */